<div class="container-fluid bg-dark mt-5 p-5 text-light d-flex justify-content-around ">
    <div>
        <h1 style="font-size: 8em;">welcome <br>user</h1>
    </div>
{{#if err}}
<div class="alert alert-danger p-5">
    {{{err}}}
</div>
{{/if}}
    <form action="/login" method="POST" class="bg-secondary bg-outline-danger rounded border border-white p-5">
        <h1 class="mb-5">Log In</h1>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>